body{
    background-image: url('../../assets/images/abstract1.png');
    background-size: cover;
    background-repeat:  no-repeat;
}

.section-head{
    padding: 1em;
    background-color: rgb(1, 151, 1);
    /* width: 45%;   */
    margin-bottom: 1em;

}

.image-wrap{
    background-color: palevioletred;
}
@media (min-width: 700px) {
    .section-head{
        width: 45%;
    }
    .text-and-images {
        display: flex;
        /* align-items: center; */
        /* height: fit-content; */
        /* gap: 2em; */
    }
    .image-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width:55%;  
    }
    .image-text{
        max-width: 250px;
        min-height: 3em;
    }
}   
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.image-element{
    border-radius: .3em;
    box-shadow: 3px 3px 7px #222121;
}

