.footer {
    background-color: rgb(1, 151, 1);
    padding:1em;
}
@media (min-width: 700px) {
    .footer{
        padding-left: 7em;
    }
}

.ptag{
    color:rgb(250, 241, 241);
}

@media (min-width: 700px) {
      .credits {
        display: flex;
        align-items: center;
        gap: .5em;
    }
    .contact{
    display: flex;
    align-items: center; 
    gap:.5em;
}
}


.credit-list{
    padding: .3em 1em;
    background-color: pink;
    border-radius: 1em;
    max-width: fit-content;
    margin-bottom: .3em;
    
}

.credit-list:hover {
    
    position: relative;
    bottom: 4px;
  }

.credit-link{
    text-decoration: none;
    color: rgb(84, 169, 69);
}

.credit-link:hover{
    color: rgb(158, 64, 57);
}



.social {
    color: violet;
}