section{
    background-image: linear-gradient(180deg, #d65cb8 25%, #6ca16f 25%, #6ca16f 50%, #d65cb8 50%, #d65cb8 75%, #6ca16f 75%, #6ca16f 100%);
background-size: 70.00px 70.00px;
}
.gallery-two{
    font-size: 3em;
    color: bisque;
    margin: 0;
    padding-top: .3em;
    text-align: center;
}

.gallery-ptag{
    color: bisque;
    text-align: center;
}
.images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
@media (min-width: 700px) {
    .images-container{
        max-width: 800px;
        margin: 0 auto;
        display:grid;
       grid-template-columns: repeat(3, 1fr);  
    }  
}

.gallery-img{
    margin-bottom: .4em;
    border: solid 2px rgb(92, 130, 92);
    border-radius: .7em;
    height: 100%;
}

.gallery-img:hover{
    width:270px;
    border: solid 2px rgb(233, 225, 67);
    border-radius: .7em;
}

.textOverImg{
    position: relative;
}

.img-text, .fullText{
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;
    max-width: 230px;
    color: rgb(255, 255, 240);
    padding: .5em;
   
}
.img-text{
    height: 2em;
    overflow: hidden;
   
}

.fullText {
    max-width: 290px;
    height: 25%; 
    overflow: scroll;
  }

