html {
  background-image: url("../../assets/images/b-g.png");
}
body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 12em;
}

h1 {
  font-size: 4em;
  text-shadow: 9px 10px 5px rgb(40, 82, 11);
}
.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  text-align: center;
  display: none;
}
.heading {
  color: rgb(229, 190, 32);
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}
.nav-link-text {
  color: rgb(235, 119, 19);
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: #282886;
  border-radius: 1em;
}
.nav-link-text:hover {
  color: rgb(60, 190, 53);
  position: relative;
  bottom: 4px;
}

@media (min-width: 700px) {
  .nav-link-text {
    font-size: 1.5em;
  }
}
