.video-container{
    background-color: rgb(243, 148, 15);
    display: block;
}
@media (min-width: 1000px) {
    .video-container{
        display: flex;
        justify-content: center;
        gap:1em;         
    }
}
.video-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.video-wrap p{
    max-width: 430px;
    color: blanchedalmond;
    padding-top: .5em;
}

.vimeo{
    margin-top: 0;
}

iframe, .video{
    border: 2px solid rgb(210, 156, 62);
    border-radius: .5em;
    margin-top: 1em;
}

a{
    text-decoration: none;
    color: gold;
}

