.video-container{
    display: flex;
    justify-content: center;
    gap:1em;
    margin-top: 2em;
}

.video-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrap p{
    max-width: 430px;
}

iframe{
    border: 2px solid rgb(210, 156, 62);
    border-radius: .5em;
}

a{
    text-decoration: none;
    color: gold;
}

