.video-container{
    margin-top: 2em;
}
@media (min-width: 850px) {
    .video-container{
        display: flex;
        justify-content: center;
        gap:1em;
        margin-top: 2em;
        background-color: rgb(19, 45, 45);
        margin-top: 2em;
    } 
}
.video-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 2em; */
    background-color: rgb(19, 45, 45);
}

.video-wrap p{
    max-width: 430px;
    color: blanchedalmond;
    /* background-color: rgb(19, 45, 45) */

}

iframe{
    border: 2px solid rgb(210, 156, 62);
    border-radius: .5em;
    margin-top: 1em;
}

a{
    text-decoration: none;
    color: gold;
}

